<p class="text-dark bg-warning">
  <span class="ms-2 d-inline-block">Products Component works!</span>
</p>

<!-- First row: buttons 1, 2, and 3 inline -->
<button type="button" class="btn btn-primary me-2">Button 1</button>
<button type="button" class="btn btn-secondary me-2">Button 2</button>
<button type="button" class="btn btn-danger">Button 3</button>

<!-- Second row: buttons 4 and submit below -->
<div class="mt-3">
  <button type="button" class="btn btn-warning me-2">Button 4</button>
  <button type="submit" class="btn btn-success">Submit</button>
</div>


<button type="button" class="btn btn-primary me-1">Button 1</button>
<button type="button" class="btn btn-success me-1">Button 2</button>
<button type="button" class="btn btn-danger">Button 3</button>

<button type="button" class="btn btn-danger">Button 4</button> <!-- Neutral button -->
<button type="submit" class="btn btn-primary">Submit</button> <!-- Submits form -->


<!-- <button class="btn btn-primary btn-lg d-block">Click</button>

<a class="btn btn-primary d-block" href="#"
role="button">Link</a>
<button class="btn btn-secondary d-block"
type="submit">Button</button>

<div *ngFor="let product of Products">
  <p>{{ product.name }}</p>
</div>

<div *ngFor="let product of Products">
  <ng-container *ngIf="product.name == 'Laptop'">
    <p>{{ product.name }}</p>
  </ng-container>
</div>
 -->